<aside class="prm-flpr">
  <div class="container">
    <h2 class="wb-inv">Promotions</h2>
    <div class="wb-tabs carousel-s2 show-thumbs slow wb-init wb-tabs-inited" id="wb-auto-2">
      <ul role="tablist" aria-live="off"><li class="control prv"><a class="prv" href="javascript:;" role="button" title="Previous"><span class="glyphicon glyphicon-chevron-left"></span><span class="wb-inv">Previous</span></a></li> <li class="control  tab-count" tabindex="0"><div>Item <div class="curr-count"><span class="curr-index">3</span> of 3</div></div></li><li class="control nxt"><a class="nxt" href="javascript:;" role="button" title="Next"><span class="glyphicon glyphicon-chevron-right"></span><span class="wb-inv">Next</span></a></li>
        <li class="" role="presentation">
          <a href="#tab1" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab1" id="tab1-lnk"><img src="./img/promos/1170x347-1.png" alt=""><span class="wb-inv">Tab 1: Banff National Park</span></a>
        </li>
        <li role="presentation" class="">
          <a href="#tab2" tabindex="-1" role="tab" aria-selected="false" aria-controls="tab2" id="tab2-lnk"><img src="./img/promos/1170x347-2.png" alt=""><span class="wb-inv">Tab 2: Algonquin Provincial Park</span></a>
        </li>
        <li role="presentation" class="active">
          <a href="#tab3" tabindex="0" role="tab" aria-selected="true" aria-controls="tab3" id="tab3-lnk"><img src="./img/promos/1170x347-3.png" alt=""><span class="wb-inv">Tab 3: Rideau Canal</span></a>
        </li>
        <li class="control plypause"><a class="plypause" href="javascript:;" role="button" title="Play"><span class="glyphicon glyphicon-play"></span> <span>Play</span><span class="wb-inv">  -  Start tab rotation</span></a></li> </ul>
        <div class="tabpanels">
          <div role="tabpanel" id="tab1" class="fade out noheight" aria-hidden="true" aria-expanded="false" aria-labelledby="tab1-lnk">
            <a href="#" class="learnmore">
              <figure>
                <img src="./img/promos/1170x347-1.png" alt="">
                <figcaption>
                  <p>Banff National Park </p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div role="tabpanel" id="tab2" class="fade out noheight" aria-hidden="true" aria-expanded="false" aria-labelledby="tab2-lnk">
            <a href="#" class="learnmore">
              <figure>
                <img src="./img/promos/1170x347-2.png" alt="">
                <figcaption>
                  <p>Algonquin Provincial Park </p>
                </figcaption>
              </figure>
            </a>
          </div>
          <div role="tabpanel" id="tab3" class="fade in" aria-hidden="false" aria-expanded="true" aria-labelledby="tab3-lnk">
            <a href="#" class="learnmore">
              <figure>
                <img src="./img/promos/1170x347-3.png" alt="">
                <figcaption>
                  <p>Rideau Canal </p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
  </aside>
