<nav class="wb-sec col-md-3 col-md-pull-9 wb-navcurr-inited" typeof="SiteNavigationElement" id="wb-sec" role="navigation">

    <h2 id="wb-sec-h" class="wb-inv">
        Payroll Deductions Online Calculator
    </h2>

    <section class="list-group menu list-unstyled">
        <h3>
            <a href="/ebci/rhpd/prot/welcome.action" class=" wb-navcurr">Payroll Deductions Online Calculator</a>
        </h3>
        <ul class="list-group menu list-unstyled">
            <li class="list-group-item">
                How to use PDOC to
            </li>
            <li>
                <ul class="list-group menu list-unstyled">
                        <li>
                            <a href="/ebci/rhpd/pub/salaryCalculation-help-e" class="list-group-item" target="helpWindow" rel="external">Calculate salaries</a>
                        </li>
                        <li>
                            <a href="/ebci/rhpd/pub/commissionCalculation-help-e" class="list-group-item" target="helpWindow" rel="external">Calculate commissions</a>
                        </li>
                        <li>
                            <a href="/ebci/rhpd/pub/pensionCalculation-help-e" class="list-group-item" target="helpWindow" rel="external">Calculate pensions</a>
                        </li>
                        <li>
                            <a href="/ebci/rhpd/pub/pierCalculation-help-e" class="list-group-item" target="helpWindow" rel="external">Verify CPP contributions and EI premiums</a>
                        </li>
                    <li>

                        <a href="/ebci/rhpd/pub/faq-help-e" class="list-group-item" target="helpWindow" rel="external">FAQ</a>
                    </li>
                </ul>
            </li>
            <li class="list-group-item">
                Need help?
            </li>
            <li>
                <ul class="list-group menu list-unstyled">
                    <li>
                        <a href="/ebci/rhpd/pub/contactUs-help-e" class="list-group-item" target="helpWindow" rel="external">Contact Us</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
